// fonts
$font-josefin: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
// colors
$color-primary: #c69963;
$color-black: #101d2c;
$color-white: #ffffff;
$color-head: rgba(8, 8, 8, 0.8), rgba(198, 153, 99,0.8);
$back-img: url("../assets/img/back.jpg");
